.navbar {
    background-color: #fff;
    padding: $spacing-s $spacing-l;
    box-shadow: 0px 0px 20px 0px #0000001b;

    &__toggler {
        padding: 0;
    }

    &__admin {
        color: $primary-red;
        text-transform: capitalize;

        &:hover {
            color: $primary-red;
        }
    }


    &__icon {
        padding: $spacing-s;
        width: auto;
        height: auto;

        &--active {
            color: $primary-red;
        }

        &--no-pad-r {
            padding-right: 0;
        }

        &:hover {
            color: $primary-red;
        }
    }

    &__collapse {
        margin: 25px 0px 30px 0px;
    }

    &__link {
        padding: 1rem 0;
        text-transform: uppercase;

        &--active {
            color: $primary-red;
            font-weight: $font-semibold;
        }

        &--last {
            padding-top: 0;
        }

        &:hover {
            color: $primary-red;
        }
    }


}

@media only screen and (min-width: 992px) {

    .navbar {

        &__icon {
            display: none;
        }

        &__collapse {
            margin: 0;
        }
    }
}